apiVersion: apps/v1
kind: Deployment
metadata:
  name: classificateur-ia
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: classificateur-ia
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        env:
        - name: ENVIRONMENT
          value: "dev"
