apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: classificateur-ia-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/romainfaure-ascenzia/classificateur-ia.git
    targetRevision: main
    path: k8s/argocd/applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
