apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: classificateur-ia-staging
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rom55555/classificateur-ia.git
    targetRevision: main
    path: k8s/envs/staging
  destination:
    server: https://kubernetes.default.svc
    namespace: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
